.container {
    margin: 25px;
}

.post {
    display: flex;
    justify-content: center;
    width: 100%;
}

.postItem {
    margin-bottom: 2%;
}

.postForm {
    margin: 5% 30% 5% 30%;
}

.postForm form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5%;
}

.badge {
    text-align: right;
}

.navBar {
    display: flex;
    justify-content: space-between;
}